<link rel="stylesheet" href="/static/css/navbar/navbar.css" />

<div class="navbar-layout"></div>
<div class="header container-fluid">
	<div class="navbar container-xxl">
		{{! NAVBAR left }}
		<div class="navbar__left-container">
			<div class="navbar__left-container__logo">
				CONSSHOP
			</div>
		</div>

		{{! NAVBAR center }}
		<div class="navbar__center-container">
			{{! DIRECTION }}
			<ul class="navbar__center-container__direction-list">
				<li class="navbar__center-container__direction-list__item on-page">
					<div
						class="navbar__center-container__direction-list__item__on-page-style"
					>
						<div
							class="navbar__center-container__direction-list__item__on-page-style__left"
						></div>
						<div
							class="navbar__center-container__direction-list__item__on-page-style__right"
						></div>
					</div>
					<a href="">Trang chủ</a>
				</li>
				<li class="navbar__center-container__direction-list__item">
					<a href="">Sản phẩm</a>
				</li>
				<li class="navbar__center-container__direction-list__item">
					<a href="">Giỏ hàng</a></li>
				<li class="navbar__center-container__direction-list__item">
					<a href="">Hỗ trợ</a>
				</li>
			</ul>
		</div>

		{{! NAVBAR right }}
		<div class="navbar__right-container">
			{{#if username}}
				{{! [logged in] }}
				{{! STATUS BAR }}
				<div class="navbar__right-container__status-bar">
					<div class="navbar__right-container__status-bar__cart"></div>
					<div class="navbar__right-container__status-bar__notify"></div>
				</div>

				{{! AVATAR }}
				<div class="navbar__right-container__avatar">
					<div class="navbar__right-container__avatar__image"></div>
					<i
						class="navbar__right-container__avatar__more-icon fas fa-caret-down"
					></i>
					{{! PROFILE }}
					<div class="navbar__right-container__avatar__profile">
						{{! INFO CONTAINER }}
						<div
							class="navbar__right-container__avatar__profile__infomation"
						>
							{{! AVATAR }}
							<img
								src="/static/img/avatar/avatar.png"
								alt="avatar"
								class="navbar__right-container__avatar__profile__infomation__avatar"
							/>
							{{! INFO }}
							<div
								class="navbar__right-container__avatar__profile__infomation__info"
							>
								{{! NAME }}
								<span
									class="navbar__right-container__avatar__profile__infomation__info__name"
								>
									<p>{{firstName}} {{lastName}}</p>
								</span>
								{{! GMAIL }}
								<span
									class="navbar__right-container__avatar__profile__infomation__info__gmail"
								>
									<p>{{gmail}}</p>
								</span>
							</div>

							{{! EDITOR }}
							<a
								href=""
								class="navbar__right-container__avatar__profile__infomation__editor"
							>
								<div
									src="/static/svg/navBar/editor-icon.svg"
									alt=""
									class="navbar__right-container__avatar__profile__infomation__editor-icon"
								></div>
							</a>
						</div>

						{{! TOOLS }}
						<div class="navbar__right-container__avatar__profile__tools">

							{{! MY SELCTION }}
							<div
								class="navbar__right-container__avatar__profile__tools__my-selection"
							>
								<div></div>
								<p>Giỏ hàng của tôi</p>
							</div>

							{{! TRANSPORTING }}
							<div
								class="navbar__right-container__avatar__profile__tools__transporting"
							>
								<div></div>
								<p>Theo dõi đơn hàng</p>
							</div>

							{{! SELL PRODUCTS }}
							<div
								class="navbar__right-container__avatar__profile__tools__sell-products"
							>
								<div></div>
								<p>Đăng sản phẩm</p>
							</div>
						</div>

						{{! PROFILE SETTING }}
						<div
							class="navbar__right-container__avatar__profile__profile-settings"
						>
							{{! CHANGE INFO }}
							<div
								class="navbar__right-container__avatar__profile__profile-settings__change-info"
							>
								<div></div>
								<p>Sửa thông tin cá nhân</p>
							</div>

							{{! SETTING }}
							<div
								class="navbar__right-container__avatar__profile__profile-settings__settings"
							>
								<div></div>
								<p>Cài đặt</p>
							</div>
						</div>

						{{! OTHERS }}
						<div class="navbar__right-container__avatar__profile__others">
							{{! HELP }}
							<div
								class="navbar__right-container__avatar__profile__others__help"
							>
								<div></div>
								<p>Trợ giúp</p>
							</div>

							{{! LOGOUT }}
							<div
								class="navbar__right-container__avatar__profile__others__logout"
							>
								<div></div>
								<p>Thoát tài khoản</p>
							</div>
						</div>
					</div>
				</div>
			{{else}}
				{{! [not logged in] }}
				{{! AUTHENTICATE }}
				<div class="navbar__right-container__authenticate">
					<a
						href="/authenticate"
						class="navbar__right-container__authenticate__login"
					>Đăng nhập</a>
				</div>
			{{/if}}
		</div>
	</div>
</div>

<script src="/static/js/navbar/uxUi.js"></script>
<script src="/static/js/navbar/main.js"></script>