@import "../general/mixin", "../general/variables";

// Font
// Thumnail message font
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500&display=swap");
// Form login
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;1,400;1,500&family=Signika:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap");
// Submit button
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500&display=swap");
// Warning message
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap");

// Variables
$backButtonSeperate: 1rem;
$authFormSeperate: 2rem;
$inputWidthLogin: 30rem;
$inputWidthRegister: 36rem;
$inputSeperate: 2rem;
$othersMethodHeight: 4.4rem;
$othersMethodBorderSize: 0.1rem;
$othersMethodGoogleLogoMarginLeftSize: 0.5rem;
$labelSeperate: 2rem;
$warningMessageSeperate: 1.4rem;
$warningMessageColor: rgb(255, 255, 255);
$warningMessageBorderColor: rgb(187, 187, 187);
$warningMessageBorderSize: 0.1rem;

.auth {
	@include size(100vw, 100vh);
	@include flex(row, center, center);
	background-image: url("/static/img/authPage/background.jpg");
	background-size: cover;

	&__back-btn {
		@include size(6rem);
		@include position(
			fixed,
			$backButtonSeperate,
			unset,
			unset,
			$backButtonSeperate
		);
		@include flex(row, center, center);
		background-color: rgba(92, 194, 214, 0.5);
		border-radius: 35%;

		&__icon {
			@include size(3rem);
			background-image: url("/static/svg/authPage/backButton.svg");
			background-size: contain;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.5);

			.auth__back-btn__icon {
				background-image: url("/static/svg/authPage/backButton--onHover.svg");
			}
		}
	}

	&__container {
		@include size(100rem, 50rem);
		background-color: $whiteColor;
		border-radius: 1.8rem;
		box-shadow: 0 0 0rem 1rem rgba(255, 255, 255, 0.5);

		&__thumnail {
			@include position(relative);
			display: flex;

			&::before {
				@include size(100%);
				content: "";
				display: block;
				background-image: url("/static/img/authPage/thumnail.png");
				background-size: cover;
				border-radius: 1.8rem;
			}

			&__message {
				@include position(absolute, unset, unset, 6rem, 50%);
				@include size(38rem, 10rem);
				transform: translateX(-50%);
				color: $whiteColor;
				background-color: rgba(255, 255, 255, 0.03);
				backdrop-filter: blur(0.5rem);
				text-align: center;
				padding: 1rem;
				border-radius: 1.6rem;

				&__main {
					font: 400 4rem "Lobster";
				}

				&__desc {
					font: 400 1.8rem "Roboto Condensed", sans-serif;
				}
			}
		}

		&__auth-form {
			@include flex(column);
			padding: $authFormSeperate $authFormSeperate $authFormSeperate 0;

			&__direction {
				@include size(100%, 3rem);
				@include flex(row, center, flex-end);
				margin-bottom: 1rem;

				&__container {
					@include size(20rem, 100%);
					@include flex(row, center, space-between);
					position: relative;
					font: 400 1.8rem "Barlow", sans-serif;
					line-height: 1.6rem;
					transition: ease 0.2s;
					cursor: pointer;

					// INPUT DIRECTION
					input {
						display: none;
					}

					#direction-input-login:checked ~ &__login {
						color: rgb(58, 0, 218);
					}
					#direction-input-login:checked ~ &__active-bar {
						transform: translateX(calc(-0.7rem));
					}

					#direction-input-register:checked ~ &__register {
						color: rgb(58, 0, 218);
					}
					#direction-input-register:checked ~ &__active-bar {
						transform: translateX(calc(100% - 0.7rem));
					}

					&__login,
					&__register {
						cursor: pointer;
						width: 45%;
						position: relative;
						z-index: 1;
						user-select: none;
					}

					&__active-bar {
						@include size(50%, 0.2rem);
						@include position(absolute, unset, unset, 0, 0);
						transition: ease 0.2s;
						border-radius: 3rem;
						background-color: rgb(97, 50, 224);
					}
				}
			}

			.login-form,
			.register-form {
				@include size(100%);
				display: none;
				flex-grow: 1;
				padding: 0 2rem;
			}

			.login-form {
				&__others-method {
					@include flex(column, center);

					&__title {
						@include size(30rem, 0.1rem);
						margin: $labelSeperate auto;
						position: relative;
						background-color: #ccc;

						&::before {
							@include size(12rem, auto);
							@include position(absolute, 50%, unset, unset, 50%);
							content: "Phương Thức Khác";
							color: $textColor;
							font-size: 1rem;
							text-align: center;
							transform: translate(-50%, -50%);
							background-color: $whiteColor;
						}
					}

					&__google,
					&__facebook {
						@include size($inputWidthLogin, $othersMethodHeight);
						@include flex(row, center, flex-start);
						border-radius: 1rem;
						border: $othersMethodBorderSize solid #ccc;
						transition: linear 0.2s;
						overflow: hidden;

						&__logo {
							height: 100%;
						}

						&__label {
							color: $whiteColor;
							font: 400 1.6rem "Signika", sans-serif;
							margin: 0 0 0 2.4rem;
						}

						&:hover {
							cursor: pointer;
						}
					}

					// FACEBOOK
					&__facebook {
						background-color: #1473b8;
						margin-top: 0;

						&__logo {
							padding: 0.8rem;
						}

						&__label {
							margin-left: 2.8rem;
						}

						&:hover {
							.login-form__others-method__facebook__label {
								color: #1976d2;
							}

							background-color: $whiteColor;
						}
					}

					// GOOGLE
					&__google {
						background-color: #f34a38;
						margin-top: $inputSeperate;

						&__logo {
							margin-left: 0.4rem;
							padding: 0.5rem;
							border-radius: 0.5rem;
						}

						&:hover {
							background-color: $whiteColor;

							.login-form__others-method__google__label {
								color: #f34a38;
							}
						}
					}
				}

				&__input-container {
					@include flex(column, center);

					&__label-seperate {
						@include size(30rem, 0.1rem);
						background-color: #ccc;
						margin: $labelSeperate auto;
						position: relative;

						&::before {
							@include position(absolute, 50%, unset, unset, 50%);
							content: "Hoặc";
							color: $textColor;
							transform: translate(-50%, -50%);
							background-color: $whiteColor;
							padding: 0 1.4rem;
						}
					}

					&__username-container,
					&__password-container {
						@include size($inputWidthLogin, 4rem);
					}

					&__username-container {
						margin-top: 0;
					}

					&__password-container {
						margin-top: $inputSeperate;
					}
				}

				&__forgot-password {
					@include size($inputWidthLogin, auto);
					color: rgb(0, 98, 255);
					font-size: 1.3rem;
					text-align: right;
					margin: 1rem auto;
					display: block;
				}

				&__submit-btn {
					@include size($inputWidthLogin, 4rem);
				}
			}

			.register-form {
				&__others-method {
					@include flex(column, center);

					&__title {
						@include size($inputWidthRegister, 0.1rem);
						margin: $labelSeperate auto;
						position: relative;
						background-color: #ccc;

						&::before {
							@include size(12rem, auto);
							@include position(absolute, 50%, unset, unset, 50%);
							content: "Phương Thức Khác";
							color: $textColor;
							font-size: 1rem;
							text-align: center;
							transform: translate(-50%, -50%);
							background-color: $whiteColor;
						}
					}

					&__container {
						@include size($inputWidthRegister, 5rem);
						@include flex(row, center, space-between);
						margin-top: 0;

						&__google,
						&__facebook {
							@include size(48%, 5rem);
							@include flex(row, center, flex-start);
							border-radius: 1rem;
							border: $othersMethodBorderSize solid #ccc;
							transition: linear 0.2s;
							overflow: hidden;

							&__logo {
								height: 100%;
							}

							&__label {
								color: $whiteColor;
								font: 400 1.6rem "Signika", sans-serif;
								line-height: 1.8rem;
								margin: 0;
								margin-left: 0.5rem;
							}

							&:hover {
								cursor: pointer;
							}
						}

						// FACEBOOK
						&__facebook {
							background-color: #1473b8;

							&__logo {
								padding: 0.8rem;
							}

							&:hover {
								.register-form__others-method__container__facebook__label {
									color: #1976d2;
								}

								background-color: $whiteColor;
							}
						}

						// GOOGLE
						&__google {
							background-color: #f34a38;

							&__logo {
								margin-left: 0.4rem;
								padding: 0.5rem;
								border-radius: 0.5rem;
							}

							&:hover {
								background-color: $whiteColor;

								.register-form__others-method__container__google__label {
									color: #f34a38;
								}
							}
						}
					}
				}

				&__input-container {
					@include flex(column, center);

					&__label-seperate {
						@include size($inputWidthRegister, 0.1rem);
						background-color: #ccc;
						margin: $labelSeperate auto;
						position: relative;

						&::before {
							@include position(absolute, 50%, unset, unset, 50%);
							content: "Hoặc";
							color: $textColor;
							transform: translate(-50%, -50%);
							background-color: $whiteColor;
							padding: 0 1.4rem;
						}
					}

					&__name {
						@include size($inputWidthRegister, 4rem);
						@include flex(row, center, space-between);
						margin-top: 0;

						&__first-name-container,
						&__last-name-container {
							@include size(48%, 4rem);
						}
					}

					&__account {
						@include size($inputWidthRegister, 4rem);
						@include flex(row, center, space-between);
						margin-top: $inputSeperate;

						&__username-container {
							@include size(52%, 100%);
						}

						&__password-container {
							@include size(44%, 100%);
						}
					}

					&__gmail-container,
					&__address-container {
						@include size($inputWidthRegister, 4rem);
						margin: $inputSeperate auto 0;
					}
				}

				&__submit-btn {
					@include size($inputWidthRegister, 4rem);
					margin-top: 1.8rem;
				}
			}
		}
	}
}

.input-container {
	@include size(unset, 4rem);
	font: 400 1.5rem "Rubik", sans-serif;
	position: relative;

	&.fail {
		.input-element {
			border-color: red !important;
			color: red;
		}

		.input-place-holder {
			color: red !important;
		}
	}

	.input-element {
		@include size(100%);
		border-radius: 1rem;
		padding: 0 1.2rem;
		transition: ease 0.2s;
		border: 0.2rem solid #ccc;

		&:-webkit-autofill {
			-webkit-background-clip: text;
		}

		&:focus ~ .input-place-holder,
		&:not(:placeholder-shown) ~ .input-place-holder {
			color: rgb(90, 90, 90);
			padding: 0 1rem;
			transform: translate(1rem, -2.8rem);
		}

		&:focus ~ .input-place-holder {
			padding: 0 2rem;
			color: rgb(0, 98, 255);
		}

		&:focus {
			border-color: rgb(0, 98, 255);
		}

		&::-webkit-input-placeholder {
			font-size: 1.4rem;
			user-select: none;
		}
	}

	.input-place-holder {
		@include position(absolute, 50%, unset, unset, 1.4rem);
		color: rgb(109, 109, 109);
		font: 300 1.5rem "Rubik", sans-serif;
		line-height: 1.5rem;
		text-decoration: none;
		transform: translateY(-50%);
		transition: ease 0.1s;
		background-color: $whiteColor;
		border-radius: 3rem;
		user-select: none;
		cursor: text;

		i {
			margin-right: 0.5rem;
		}
	}
}

.submit-btn {
	color: $whiteColor;
	font: 500 1.8rem "Signika", sans-serif;
	background-color: #0074ff;
	border-radius: 1rem;
	border: 0.1rem solid #ccc;
	margin: 0 auto;
	display: block;
	transition: ease 0.2s;

	&:hover {
		color: #0074ff;
		background-color: $whiteColor;
		border: 0.2rem solid #0074ff;
	}
}
