<link rel="stylesheet" href="/static/css/homePage/home.css" />

<div class="home-ctn container-xxl">
	{{! VIEW BOX }}
	<div class="row home-ctn__view-box">
		{{! CONTENT BOX }}
		<div class="home-ctn__view-box__content-box">
			<h2 class="home-ctn__view-box__content-box__title">TRAO ĐỔI HÀNG HÓA
				NHANH CHÓNG
				<br />
				VỚI KÊNH TRUNG GIAN
				<br />
				UY TÍN, NHANH CHÓNG VÀ AN TOÀN!</h2>
			<button class="home-ctn__view-box__content-box__btn btn">Tìm hiểu ngay</button>
		</div>

		{{! IMAGE LEFT }}
		<img
			class="home-ctn__view-box__vector-image-0"
			src="/static/img/homePage/view-box-element0.png"
		/>

		{{! IMAGE RIGHT}}
		<img
			class="home-ctn__view-box__vector-image-1"
			src="/static/svg/homePage/view-box-element1.svg"
		/>
		<div class="home-ctn__view-box__background"></div>
	</div>

	{{! TOOLS BOX }}
	<div class="row home-ctn__tools-box">
		{{! BUY PRODUCTS }}

		{{! SELL PRODUCTS }}

		{{! MY CART }}

		{{! MY SELLING PRODUCTS }}

		{{! HIRE TRANSPORT }}

		{{!  }}
	</div>
</div>

<script src="/static/js/homePage/uxUi.js"></script>
<script src="/static/js/homePage/main.js"></script>