<link rel="stylesheet" href="/static/css/homePage/home.css" />

<div class="body-container container-xxl">
	<div class="row slide-0">

	</div>
</div>

<script src="/static/js/homePage/uxUi.js"></script>
<script src="/static/js/homePage/main.js"></script>