@import "_variables";

@mixin size($width, $height: $width) {
	@if $width != false {
		width: $width;
	}

	@if $height != false {
		height: $height;
	}
}

@mixin min-size($minWidth, $minHeight: $minWidth) {
	@if $minWidth != false {
		min-width: $minWidth;
	}

	@if $minHeight != false {
		min-height: $minHeight;
	}
}

@mixin max-size($maxWidth, $maxHeight: $maxWidth) {
	@if $maxWidth != false {
		max-width: $maxWidth;
	}

	@if $maxHeight != false {
		max-height: $maxHeight;
	}
}

@mixin flex(
	$direction: row,
	$alignItems: flex-start,
	$justifyContent: flex-start
) {
	display: flex;
	flex-direction: $direction;
	align-items: $alignItems;
	justify-content: $justifyContent;
}

@mixin pushDownAnimation($length, $time: 0.3s) {
	animation: animation ease $time;

	@keyframes animation {
		from {
			transform: translateY(-$length);
		}
		to {
			transform: translateY(0rem);
		}
	}
}

@mixin position(
	$position,
	$top: false,
	$right: false,
	$bottom: false,
	$left: false
) {
	position: $position;

	@if $top != false {
		top: $top;
	}
	@if $right != false {
		right: $right;
	}
	@if $bottom != false {
		bottom: $bottom;
	}
	@if $left != false {
		left: $left;
	}
}
