// COLOR
$textColor: rgb(102, 102, 102);
$whiteColor: #fff;
$navBarColor: rgb(0, 41, 95);
$borderColor: #999;
$primaryColor: #2668d9;
$primaryColorBlur: #8bc4d4;

// SIZE
$edgePageSeperate: 3rem;
$navbarHeight: 7rem;
